@model IList<SocialNetwork.Models.AdminControlPanelTasksViewModel>
@{
    ViewBag.Title = SocialNetwork.Resources.Resource.AdminControlPanel;
}

@using (Html.BeginForm("AdminControlPanelTasks", "Admin", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    <h3>
        @SocialNetwork.Resources.Resource.Tasks
        @if (ViewBag.UserId != null)
        {
            <a href="~/Account/ViewAccount?id=@ViewBag.UserId">@ViewBag.UserName</a>
            <input type="hidden" value="@ViewBag.UserId" />
        }
    </h3>
    <hr />
    <div class="row">
        <div class="col-md-2" style="align-content: stretch">
            <ul class="list-group" style="margin-bottom: 5px">
                <li class="list-group-item">
                    <span class="badge">@ViewBag.TotalTasks</span>
                    @SocialNetwork.Resources.Resource.Tasks
                </li>
            </ul>
            <input type="submit" style="margin-top: 4px; height: 35px; width: 164px" class="btn btn-warning" value=@SocialNetwork.Resources.Resource.Confirm />
        </div>
        <div class="col-md-10">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th width="20%">@Html.ActionLink(SocialNetwork.Resources.Resource.UserTaskTitle, "AdminControlPanelTasks", "Admin", new { userId = ViewBag.UserId, sortParam = "TaskTitle", sortOrder = ViewBag.SortOrder }, null)</th>
                        <th width="15%">@Html.ActionLink(SocialNetwork.Resources.Resource.CategoryName, "AdminControlPanelTasks", "Admin", new { userId = ViewBag.UserId, sortParam = "Category", sortOrder = ViewBag.SortOrder }, null)</th>
                        <th width="15%">@Html.ActionLink(SocialNetwork.Resources.Resource.DateAdded, "AdminControlPanelTasks", "Admin", new { userId = ViewBag.UserId, sortParam = "DateAdded", sortOrder = ViewBag.SortOrder }, null)</th>
                        <th width="15%">@Html.ActionLink(SocialNetwork.Resources.Resource.UserRole, "AdminControlPanelTasks", "Admin", new { userId = ViewBag.UserId, sortParam = "UserName", sortOrder = ViewBag.SortOrder }, null)</th>
                        <th>@Html.ActionLink(SocialNetwork.Resources.Resource.Comments, "AdminControlPanelTasks", "Admin", new { userId = ViewBag.UserId, sortParam = "CommentAmount", sortOrder = ViewBag.SortOrder }, null)</th>
                        <th>@Html.ActionLink(SocialNetwork.Resources.Resource.Solutions, "AdminControlPanelTasks", "Admin", new { userId = ViewBag.UserId, sortParam = "SolutionAmount", sortOrder = ViewBag.SortOrder }, null)</th>
                        <th>@Html.ActionLink(SocialNetwork.Resources.Resource.Likes, "AdminControlPanelTasks", "Admin", new { userId = ViewBag.UserId, sortParam = "LikeAmount", sortOrder = ViewBag.SortOrder }, null)</th>
                        <th>@Html.ActionLink(SocialNetwork.Resources.Resource.Block, "AdminControlPanelTasks", "Admin", new { userId = ViewBag.UserId, sortParam = "TaskStatus", sortOrder = ViewBag.SortOrder }, null)</th>
                        <th>@SocialNetwork.Resources.Resource.Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr id="row-@i">
                            @Html.HiddenFor(x => x[i].Id)
                            <td>@Html.ActionLink(Model[i].TaskTitle, "ViewTask", "UserTask", new { id = Model[i].Id }, null)</td>
                            <td>@Html.DisplayFor(x => x[i].Category)</td>
                            <td>@Html.DisplayFor(x => x[i].DateAdded)</td>
                            <td>@Html.ActionLink(Model[i].UserName, "ViewAccount", "Account", new { id = Model[i].UserId }, null )</td>
                            <td>@Html.DisplayFor(x => x[i].CommentAmount)</td>
                            <td>@Html.DisplayFor(x => x[i].SolutionAmount)</td>
                            <td>@Html.DisplayFor(x => x[i].LikeAmount)</td>
                            <td>@Html.CheckBoxFor(x => x[i].TaskStatus, new { @class = "checkbox" })</td>
                            <td>@Html.CheckBoxFor(x => x[i].Delete, new { @class = "checkbox" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}