<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @if (Request.Cookies["theme"] == null || Request.Cookies["theme"].Value == "Light")
    {
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrapLight.css">
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrapDark.css">
    }
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br /> <br /> <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            &copy; @DateTime.Now.Year
            <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle btn-primary btn-xs" data-toggle="dropdown">@SocialNetwork.Resources.Resource.FooterThemeChooser  <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="~/Style/ChangeTheme?theme=Dark"><img src="~/Content/images/theme-dark-col-thumb.png" width="12" />&emsp;@SocialNetwork.Resources.Resource.FooterThemeDark</a></li>
                    <li><a href="~/Style/ChangeTheme?theme=Light"><img src="~/Content/images/theme-lignt-col-thumb.png" width="12" />&emsp;@SocialNetwork.Resources.Resource.FooterThemeLight</a></li>
                </ul>
            </div>
            <div class="btn-toolbar navbar-right">
                <a href="~/Localization/ChangeCulture?language=en" class="text-muted">
                    <img src="~/Content/images/flag-eng-32.png" width="14" />&ensp;English
                </a>&ensp;
                <a href="~/Localization/ChangeCulture?language=ru" class="text-muted">
                    <img src="~/Content/images/flag-rus-32.png" width="14" />&ensp;Русский
                </a>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>