@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("admin"))
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@SocialNetwork.Resources.Resource.Manage <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">@Html.ActionLink(SocialNetwork.Resources.Resource.Users, "AdminControlPanelUsers", "Admin")</a></li>
                        <li><a href="#">@Html.ActionLink(SocialNetwork.Resources.Resource.Tasks, "AdminControlPanelTasks", "Admin")</a></li>
                    </ul>
                </li>
            }
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "ViewAccount", "Account", routeValues: new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "View account" })
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">@SocialNetwork.Resources.Resource.NavBarLogoff</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@SocialNetwork.Resources.Resource.NavBarRegister, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(@SocialNetwork.Resources.Resource.NavBarLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
