@if (User.IsInRole("admin") && Model.UserName == User.Identity.Name)
{
    <ul class="list-group panel-warning">
        <li class="list-group-item panel-heading">
            @SocialNetwork.Resources.Resource.AdminControlPanel
        </li>
        <li class="list-group-item">
            <span class="badge">@ViewBag.TotalUsers</span>
            @Html.ActionLink(SocialNetwork.Resources.Resource.Users, "AdminControlPanelUsers", "Admin")
        </li>
        <li class="list-group-item">
            <span class="badge">@ViewBag.TotalTasks</span>
            @Html.ActionLink(SocialNetwork.Resources.Resource.Tasks, "AdminControlPanelTasks", "Admin")
        </li>
    </ul>
}
