@using SocialNetwork.Models
@using SocialNetwork.Resources
@model ViewAccountViewModel

<div class="row">
    <div class="col-md-6">
        <h4>@Resource.UserMyTasks</h4>
        @if (Model.UserTasks.Count() == 0)
        {
            <p class="text-muted">@Resource.UserEmptyTaskList</p>
        }
        else
        {
            <table class="table table-striped table-hover">
                <tbody id="tableBody">
                    @foreach (UserTaskModel userTask in Model.UserTasks)
                    {
                        <tr>
                            <td width="70%">@Html.ActionLink(userTask.UserTaskTitle, "ViewTask", "Task", new { id = userTask.Id })</td>
                            <td width="15%">@Html.ActionLink("Change", "ChangeTask", "Task", new { id = userTask.Id })</td>
                            <td width="15%">@Html.ActionLink("Block", "BlockTask", "Task", new { id = userTask.Id })</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-6">
        <h4>@Resource.UserMySolutions</h4>
        @if (Model.UserSolvedTasks.Count() == 0)
        {
            <p class="text-muted">@Resource.UserEmplySolutionList</p>
        }
        else
        {
            <table class="table table-striped table-hover">
                <tbody>
                    @foreach (UserTaskModel userTask in Model.UserSolvedTasks)
                    {
                        <tr>
                            <td>@userTask.UserTaskTitle</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>