@{
    ViewBag.Title = @SocialNetwork.Resources.Resource.Confirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @SocialNetwork.Resources.Resource.PasswordHasBeenReset @Html.ActionLink(@SocialNetwork.Resources.Resource.ClickToLog, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
