<div id="chartData" class="row">
    <div class="col-lg-6">
        <div>
            <p>@SocialNetwork.Resources.Resource.ChartName</p>
            <input type="text" class="form-control texbox-margin" id="ChartName" name="ChartName" placeholder=@SocialNetwork.Resources.Resource.ChartName />
        </div>
        <div>
            <p>@SocialNetwork.Resources.Resource.AxisXName</p>
            <input type="text" class="form-control texbox-margin" id="AxisXName" name="AxisXName" placeholder=@SocialNetwork.Resources.Resource.AxisXName />
        </div>
        <div>
            <p>@SocialNetwork.Resources.Resource.AxisYName</p>
            <input type="text" class="form-control texbox-margin" id="AxisYName" name="AxisYName" placeholder=@SocialNetwork.Resources.Resource.AxisYName />
        </div>
    </div>
    <div class="col-lg-6">
        <div>
            <p>@SocialNetwork.Resources.Resource.Expression</p>
            <input type="text" class="form-control texbox-margin" id="Expression" name="Expression" placeholder=@SocialNetwork.Resources.Resource.ExpressionExample />
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>@SocialNetwork.Resources.Resource.From</p>
                <input type="text" class="form-control texbox-margin" id="From" name="From" placeholder=@SocialNetwork.Resources.Resource.From />
            </div>
            <div class="col-lg-4">
                <p>@SocialNetwork.Resources.Resource.To</p>
                <input type="text" class="form-control texbox-margin" id="To" name="To" placeholder=@SocialNetwork.Resources.Resource.To />
            </div>
            <div class="col-lg-4">
                <p>@SocialNetwork.Resources.Resource.To</p>
                <input type="text" class="form-control texbox-margin" id="Step" name="Step" placeholder=@SocialNetwork.Resources.Resource.Step />
            </div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-lg-3">
                <input id="Chart" class="btn btn-primary" type="button" value=@SocialNetwork.Resources.Resource.Preview />
            </div>
            <div class="col-lg-9">
                <abbr class="text-danger" title=@SocialNetwork.Resources.Resource.Required>*</abbr> - @SocialNetwork.Resources.Resource.AllFieldsAreRequired
            </div>
        </div>
    </div>
</div>
<div id="chart">
</div>