@model SocialNetwork.Models.TaskStatisticsViewModel

<style>
    .checkbox-hidden {
        display: none;
    }

    .like-icon {
        margin-top: 24px;
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col-md-3 task-stat" align="center">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.HiddenFor(x => x.TaskId, new { id = "taskId" + Model.TaskId })
            @Html.CheckBoxFor(x => x.IsLiked, new { id = "isLiked" + Model.TaskId, @class = "checkbox-hidden" })
            if (Model.IsLiked)
            {
                <img class="task-stat like-icon" src="~/Content/images/like-checked-64.png" width="36" alt="like" />
            }
            else
            {
                <img class="task-stat like-icon" src="~/Content/images/like-default-64.png" width="36" alt="like" />
            }
        }
    </div>
    <div class="col-md-3 task-stat" align="center">
        <h3>@Html.DisplayFor(x => x.LikesAmount)</h3>
        <h6>Likes</h6>

    </div>
    <div class="col-md-3 task-stat" align="center">
        <h3>@Html.DisplayFor(x => x.SolutionsAmount)</h3>
        <h6>Solutions</h6>
    </div>
    <div class="col-md-3 task-stat" align="center">
        <h3>@Html.DisplayFor(x => x.CommentsAmount)</h3>
        <h6>Comments</h6>
    </div>
</div>

<script>
    likes();
</script>