@using Newtonsoft.Json
@using Microsoft.AspNet.Identity
@model SocialNetwork.Models.UserTasksViewModel
@{
    ViewBag.Title = "ViewTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery-manage.js"></script>
<script src="~/Scripts/jquery.jscroll.js"></script>

<style>
    .div-margin {
        margin: 20px;
    }

    .div-main {
        margin: 0 150px 0 150px;
        padding: 20px;
    }

    .
</style>

<div id="header" align="center" style="margin: 35px 0 40px 0">
    <h2>Propose your f...ing solution</h2>
    <br />
    
    @if (Model.UserTaskStatus)
    {
        <div class="alert alert-dismissable alert-info" style="width: 264px" align="center">
            You can't solve blocked task
        </div>
    }
    else if (Model.IsSolved)
    {
        <div class="alert alert-dismissable alert-success" style="width: 264px" align="center">
            You have already solved this task
        </div>
    }
    else if (Model.UserId == User.Identity.GetUserId())
    {
        <div class="alert alert-dismissable alert-warning" style="width: 264px" align="center">
            You cannot solve your own task
        </div>
    }
    else
    {
        using (Ajax.BeginForm("CheckSolution", "UserTask", new AjaxOptions
        {
            Url = Url.Action("CheckSolution", "UserTask"),
            HttpMethod = "POST",
            OnSuccess = "checkResult"
        }))
        {
            <div id="checkSolution" class="input-group" style="width: 264px">
                <input id="taskId" name="taskId" type="hidden" value="@Model.Id" />
                <input type="text" class="form-control" id="solutions" name="solutions" placeholder="Your solution" style="width: 200px" />
                <span class="input-group-btn">
                    <input id="check" class="btn btn-primary" type="submit" value="Check" />
                </span>
            </div>
        }
    }
</div>
<div class="div-main" style="border: 1px solid #dddddd; border-radius: 5px">
    <div class="row">
        <div class="col-lg-8">
            <div>
                <h3 style="margin: 0 0 20px 0">@Model.UserTaskTitle</h3>
            </div>
            @Html.Action("ViewTags", "UserTask", new { taskId = Model.Id })
        </div>
        <div class="col-lg-4">
            <div class="pull-right" style="padding-left: 10px">
                by @Html.ActionLink(Model.UserName, "ViewAccount", "Account", new { id = Model.UserId }, null)
                <br />
                @Model.DateAdded
                <br />
                @Html.ActionLink("view profile", "ViewAccount", "Account", new { id = Model.UserId }, new { @class = "btn btn-primary btn-xs" })
            </div>
            <div class="pull-right">
                <a href="~/Account/ViewAccount?id=@Model.UserId"><img src="@Model.UserImage" /></a>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="pull-left">
                @Html.Markdown(Model.Content)
            </div>
        </div>
        <div class="col-lg-4">
            <div class="" align="center">
                <h3 style="margin: 10px 0 0 0">@Html.ActionLink(Model.Category, "ViewAllTasks", "UserTask", new { filterParam = "Category", filterName = Model.Category }, null)</h3>
                <div id="taskStatistic-@Model.Id">@Html.Action("TaskStatistics", "UserTask", new { taskId = Model.Id })</div>
            </div>
        </div>
    </div>
</div>

<div class="div-main">
    <div class="row" align="center">
        <div class="pull-left">
            <a href="~/Account/ViewAccount?id=@User.Identity.GetUserId()"><img src="@ViewBag.UserPhoto" /></a>
        </div>
        <div class="pull-left" style="padding-left: 10px; width: 95%">
            @using (Ajax.BeginForm("AddComment", "Comment", new AjaxOptions
            {
                Url = Url.Action("AddComment", "Comment"),
                HttpMethod = "POST",
                InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
                UpdateTargetId = "comments",
                OnSuccess = "addedCommentSuccess"
            }))
            {
                <div class="input-group">
                    <input id="taskId" name="taskId" type="hidden" value="@Model.Id" />
                    <input class="form-control" id="comment" name="comment" placeholder="Write a comment..." type="text" />
                    <span class="input-group-btn">
                        <input id="addComment" class="btn btn-primary" type="submit" value="Comment" disabled="disabled"/>
                    </span>
                </div>
            }
        </div>
    </div>
    <div id="comments" class="row" style="margin: 20px 0 20px 0">
        <div id="scrollContent" style="margin: 0">@Html.Action("ViewComment", "Comment", new { taskId = Model.Id })</div>
        <div id="loadingDiv" style="text-align: center; display: none; margin-bottom: 20px">
            <img alt="Loading" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
        </div>
    </div>
</div>

<script>
    function addedCommentSuccess() {
        $("#comment").val("");
    }

    function checkResult(data) {
        if (!data) {
            $("#checkSolution").addClass("has-error");
        } else {
            $("#checkSolution").remove();
            $("#header").append('<div class="alert alert-dismissable alert-success" style="width: 264px" align="center">Your solution is right. Congratulations!</div>');
        }
    }
</script>

<script type="text/javascript">
    var blockNumber = 2;
    var noMoreData = false;
    var inProgress = false;

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height() && !noMoreData && !inProgress) {
            inProgress = true;
            $("#loadingDiv").show();
            $.post("@Url.Action("InfiniteScroll", "Comment")", { "taskId": @Model.Id, "blockNumber": blockNumber }, function (data) {
                blockNumber = blockNumber + 1;
                noMoreData = data.NoMoreData;
                $("#scrollContent").append(data.HtmlString);
                $("#loadingDiv").hide();
                inProgress = false;
            });
        }
    });
</script>